<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.3.3" targetFramework="net472" />
  <package id="Fody" version="4.2.1" targetFramework="net472" developmentDependency="true" />
  <package id="ScottPlot" version="4.1.57" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.6.1" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>